.d-none {
    display: none;
}

.acf-field-query-field,
.acf-field-query-field > .acf-input{
    float:left!important;
    width:100%!important;
}
.acf-field-query-field > .acf-label{
    display:none!important;
}
.acf-field-query-field .acf-field{
    border-top:none!important;
    /*min-width:240px;*/
    width:25%;
    max-width:25%;
}
.acf-field-query-field  .acf-query-post-fields .acf-field[data-name='terms']{
    width:50%;
    max-width:50%;
}
.acf-field-query-field  .acf-query-taxonomyfields .acf-field[data-name='terms']{
    width:75%;
    max-width:75%;
}

.acf-field-query-field .acf-field select,
.acf-field-query-field .acf-field input[type='text']{
    height: 40px;
    border: 1px solid #ccc;
}

.acf-field-query-field .acf-field select[readonly],
.acf-field-query-field .acf-field input[type='text'][readonly]{
    background: transparent;
    border-style:dashed;
    border-color:blue;
    font-weight: 600;
    //padding-left: 0;
    color:blue;
    pointer-events:none;
}
.acf-field-query-field .acf-field-header{
  display: block;
  font-size: 18px;
  float: left;
  clear: both;
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.acf-query-post-fields, .acf-query-taxonomy-fields, .acf-query-user-fields, .acf-query-comment-fields, .acf-query-meta-fields, .acf-query-view-fields, .acf-query-pagination-fields, .acf-query-button-fields{
    float:left!important;
    width:100%!important;
    clear:both!important;
    border-top: 1px solid #eee;
    display: flex;
}
.acf-query-type-fields, .acf-query-order-fields{
    float:left!important;
    width:100%!important;
    clear:both!important;
    border-top: 1px solid #eee;
}
.acf-query-type-fields, .acf-query-meta-fields{
    flex-direction:column;
}
.acf-query-pagination-fields > .acf-field{
    width:20%;
    max-width:20%;
}



.acf-field-query-field .acf-input .select2,
.acf-field-query-field .acf-input .select2 .select2-search__field{
    width:100%!important;
}
.acf-field-query-field .acf-input .select2.select2-container--default .select2-selection--multiple .select2-selection__choice{
    padding:4px 8px;
    background-color:#f5f5f5;
    border-color:#ccc;
}
.acf-field-query-field .acf-input .select2.select2-container--default .select2-selection--multiple,
.acf-field-query-field .acf-input .select2.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #ccc;
}
.acf-field-query-field .acf-input .select2-container .select2-selection--single{
    height:40px;
}
.acf-field-query-field .acf-input .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:38px;
}
.acf-field-query-field .acf-input .select2-container--default .select2-selection--single .select2-selection__arrow{
    height:38px;
}

.acf-query-field {
    margin-bottom: 20px;
}

.acf-fields.acf-fields-breakable{
    flex-wrap:wrap;
}
.acf-fields .acf-fields-breaker{
    border-top: 1px solid #eee;
    flex-basis: 100%;height:0;
}


.acf-query-meta-fields .acf-field-repeater{
    width:100%;
    min-width:100%;
    padding:0;
}
.acf-query-meta-fields .acf-field-repeater .acf-input .acf-repeater .acf-repeater-row .acf-fields{
    display:flex;
    align-items:start;
}
.acf-query-meta-fields .acf-field-repeater .acf-input .acf-repeater .acf-repeater-row .acf-fields .acf-field{
    padding-top:0px;
}
.acf-query-meta-fields .acf-field-repeater .acf-input .acf-repeater .acf-repeater-row .acf-fields [data-name='key']{
    padding-left:0;
}
.acf-query-meta-fields .acf-field-repeater .acf-input .acf-repeater .acf-repeater-row .acf-fields [data-name='key'],
.acf-query-meta-fields .acf-field-repeater .acf-input .acf-repeater .acf-repeater-row .acf-fields [data-name='value']{
    width:35%;
    min-width:35%;
}
.acf-query-meta-fields .acf-field-repeater .acf-input .acf-repeater .acf-repeater-row .acf-fields [data-name='compare']{
    width:20%;
    min-width:20%;
    padding-left:0;
    padding-right:0;
}
.acf-query-meta-fields .acf-field-repeater .acf-input .acf-repeater .acf-repeater-row .acf-fields .button{
    width:10%;
    min-width:10%;
    margin-bottom:16px;
    height:40px;
}